body{
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
.my-sites{
    color: purple;
    border-left: 2px solid rgb(156, 156, 156);
    padding-left: 10px;
}

a{
    color: #67539E;
}
